pkgbase = dangersalad-base
	pkgdesc = Base system configuration for dangersalad systems
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/dangersalad/arch/tree/master/pkg
	install = dangersalad-base.install
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = bzip2
	depends = coreutils
	depends = cryptsetup
	depends = device-mapper
	depends = dhcpcd
	depends = dnsutils
	depends = diffutils
	depends = e2fsprogs
	depends = file
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = gcc-libs
	depends = gettext
	depends = glibc
	depends = grep
	depends = gzip
	depends = inetutils
	depends = iproute2
	depends = iputils
	depends = jfsutils
	depends = less
	depends = licenses
	depends = linux
	depends = logrotate
	depends = lvm2
	depends = man-db
	depends = man-pages
	depends = mdadm
	depends = nano
	depends = netctl
	depends = pacman
	depends = pciutils
	depends = pcmciautils
	depends = perl
	depends = procps-ng
	depends = psmisc
	depends = reiserfsprogs
	depends = s-nail
	depends = sed
	depends = shadow
	depends = sysfsutils
	depends = systemd-sysvcompat
	depends = tar
	depends = texinfo
	depends = usbutils
	depends = util-linux
	depends = which
	depends = xfsprogs
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkg-config
	depends = sed
	depends = sudo
	depends = systemd
	depends = texinfo
	depends = util-linux
	depends = which
	depends = emacs
	depends = vim
	depends = zsh
	depends = arch-install-scripts
	depends = asp
	depends = bitcoin-cli
	depends = cabal-install
	depends = calc
	depends = ccid
	depends = cmake
	depends = devtools
	depends = dialog
	depends = docker
	depends = docker-compose
	depends = dosfstools
	depends = exa
	depends = figlet
	depends = fortune-mod
	depends = fwupd
	depends = git
	depends = gnupg
	depends = graphviz
	depends = htop
	depends = ncdu
	depends = nethogs
	depends = nmap
	depends = openssh
	depends = openvpn
	depends = p7zip
	depends = pcsclite
	depends = reflector
	depends = rsync
	depends = rtorrent
	depends = smem
	depends = syncthing
	depends = tcpdump
	depends = the_silver_searcher
	depends = tmux
	depends = trickle
	depends = unzip
	source = dangersalad-base.install
	source = dangersalad.sudoers
	source = locale.conf
	source = locale.gen
	source = makepkg.conf
	source = mkinitcpio.conf
	source = pacman.conf
	source = reflector.service
	source = reflector.timer
	source = vconsole.conf
	source = user-dirs.dirs
	source = user-dirs.locale
	source = 99-locale.hook
	source = 99-initcpio.hook
	source = systemd-boot.hook
	source = efi-update.path
	source = efi-update.service
	source = gocode-config.json
	sha256sums = af51a02771f8fdfbb8a7ed8d9c9226b9850109022ae94d3c828a08a7ccf575c2
	sha256sums = e04d9f14714b7ff2581838ef48ab921cb7b1c49e00c4d263e7008d528c505aef
	sha256sums = 033252d5100cbb0028d7c15e075f63e4eb5ff7f1a923cd5cb547bcfd6b024f5b
	sha256sums = d6da7917ea0f2e94aa6cbca5774245826b585fb756671c178c5a0595e958e792
	sha256sums = e45f52b0d2873428124be93f88bc548bcc8033c35a29d1763fae0dcbcc6ebe34
	sha256sums = 9008530946942fa5cadca0c6edaa6a5323fca5e337fbc49f425659db0b93807f
	sha256sums = 89c2787812d0abf01d1309475cb5ba04b41e444de398cc7d782609c350f8496d
	sha256sums = f79f3d1bf29c6a36452f952178347b8550aa0d48885c1e2e1509d359c568975a
	sha256sums = 6448d6f3725783307900a08dceea3dca175a2bdc88b1ff0130990f3b5685287c
	sha256sums = 2c09b43e51de87a82ff5eeb1c599ce25800b8d34810f14044bf73644e9f7b742
	sha256sums = 23c8b6ebaf3c3369b2f2d6618903e64f2c236f70e12c9a88e80272d2b542c770
	sha256sums = 674ac4b0bd40c5764a1ddf4e0119e9b4ee02f743211eefcf7b27c932a4831a4b
	sha256sums = b78e49d9bc118585f8bf0aef224d4339a122a7ca7035939bcc944a6564244cac
	sha256sums = 93203f764c4da0c4ecadf80cded78d5f520f8274f165c6a48b683e35ffe0845a
	sha256sums = 40dbff49f7a48c4eb84d8985f4268fbb58d44c750f839ef574175a65e2a46989
	sha256sums = 99636f7af28ce79760b2cf93baf4444e5eecbaf8a4d1df1db2a2470ddecb5f3f
	sha256sums = beb6db09bee86059df49e89a36bbe606505c52239fbef81ea5207ba9389c832f
	sha256sums = 0d7dd09c1ffe60394d4dbeb8085cc3b9ae10c4301dfc38dd7fff84c5a0911fd0

pkgname = dangersalad-base

